/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* STYLE */
body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  background-image: linear-gradient(to bottom, #9e36d1, #942fd6, #8828db, #7922e0, #671ee6);
  height: 100vh;
  z-index: 1;
}

.container {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 30px;
}

h4 {
  font-weight: lighter;
  margin-block-start: 0.7em;
  margin-block-end: 0.7em;
}

p {
  opacity: 0.6;
}


.main-card {
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 775px;
  height: 400px;
}

.img-section {
  flex: 50%;
  clip-path: inset(-30px 0px -32px -8%);
}

.faq-section {
  flex: 50%;
}

.shawdow-desktop {
  position: absolute;
  bottom: -170px;
  right: 485px;
}

.box-img {
  position: absolute;
  top: 195px;
  right: 750px;
  z-index: 1;
  width: 20%;
}

.main-img {
  position: absolute;
  top: 70px;
  right: 485px;
  width: 50%;
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.question:hover {
  cursor: pointer;
}

.answer-wrapper {
  width: 80%;
}

.answer-details {
  display: none;
  margin-block-start: 0em;
}

.divider {
  width: 100%;
  padding-right: 0px;
  height: 1px;
  border: none;
  background-color: grey;
  opacity: 30%;
}

.attribution {
  color: white;
  text-align: center;
  margin-top: 48px;
  padding-bottom: 40px;
}

.attribution a {
  color: white;
  text-decoration: none;
}

/* For JS */
.title-active {
  font-weight: bolder;
}

.arrow-active {
  transform: rotate(180deg);
}

@media only screen and (max-width: 800px){
  .container {
    justify-content: center;
    align-items: center;
  }

  .main-card {
    flex-direction: column;
    width: 320px;
    height: 500px;
    padding: 15px;
    align-items: center;
    justify-content: center;
  }

  .faq-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
  }

  .img-section {
    flex: 0%;
  }

  .faq-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .question {
    width: 80%;
  }

  .main-img {
    position: absolute;
    width: 40%;
    top: 100px;
    right: 80px;
  }

  .attribution {
    display: none;
  }

}
