@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  background-image: linear-gradient(to bottom, #9e36d1, #942fd6, #8828db, #7922e0, #671ee6);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

h1 {
  font-size: 30px;
}

h4 {
  font-weight: lighter;
}

.main-card {
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  position: relative;
  width: 775px;
  height: 400px;
}

.img-section {
  flex: 50%;
  /* clip-path: inset(-170px 0px 30px 17%); */
}

.faq-section {
  flex: 50%;
}

.shawdow-desktop {
  position: absolute;
  bottom: -170px;
  right: 485px;
}

.box-img {
  position: absolute;
  top: 195px;
  right: 750px;
  z-index: 1;
  width: 20%;
}

.main-img {
  position: absolute;
  top: 70px;
  right: 485px;
  width: 50%;
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.answer-wrapper {
  width: 80%;
}

.answer-details {
  display: none;
}

.divider {
  width: 100%;
  padding-right: 0px;
  height: 1px;
  border: none;
  background-color: grey;
  opacity: 30%;
}
